@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

html {
  scroll-behavior: smooth;
}
body {
  margin: 0%;
  padding: 0%;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: "Raleway", sans-serif;
}



h1,
h6 {
  margin: 0%;
}

p {
  margin: 0%;
}

a {
  text-decoration: none;
}

.navbar {
  padding-top: 0;
}



header {
  background-color: #ff5722;
  text-align: center;
  padding-top: 10px;
  color: #fff;
}

@keyframes animate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.06);
  }
  100% {
    transform: scale(1);
  }
}

.heading h2 {
  animation: 0.5s infinite animate;
}

 
.logo {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.desktop_logo a img {
  height: 50px !important;
  width: 50px !important;
}
.logo i {
  font-size: 70px;
  color: #ff5722;
}

.logo h1 {
  color: #ff5722;
}

.logo h6 {
  color: #888;
}

.search-bar input {
  padding: 5px 0px;
  text-align: center;
  min-width: 300px;
  border-radius: 30px;
  border: 2px solid #ff5722;
  margin-top: 30px;
  outline: none;
}

.heading a {
  color: #ff3e04;
}

.mobile-logo {
  color: #ff3e04 !important;
}

.devices {
  background-color: #ff5722;
  margin-top: 30px;
  padding: 10px 0px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 200px;
}

.icon {
  background-color: #fff;
  margin: 0px 7px;
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.icon i {
  color: #ff5722;
  transition: 0.5s;
}

.icon i:hover {
  scale: 1.5;
}

.arrow-top {
  background-color: #ff5722;
  height: 50px;
  width: 50px;
  right: 20px;
  bottom: 20px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 12px;
  z-index: 9999;
  box-shadow: 0.9px 0.9px 15px 5px rgb(212, 208, 208);
}

/* .arrow-top i {
  font-size: 20px;
  color: #fff;
  transition: 0.3s;
} */
#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
} 

.arrow-top i:hover {
  scale: 1.5;
}

nav li {
  text-transform: uppercase;
  font-weight: 600;
}

.nav-link {
  color: #000;
  margin: 0px 10px;
}

.nav-link:hover {
  color: #ff5722;
}



.device-box {
  border-radius: 10px;
  border: 1px solid #ddd;
  transition: 0.3s;
  padding: 10px;
}

.device-box p {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 600;
  transition: 0.3s;
  color: #000;
}

.device-box:hover {
  border-color: #ff5722;
}

.device-box p:hover {
  color: #ff5722;
}

.category:hover {
  scale: 1.05;
}

.mobile {
  padding: 10px;
  transition: all 0.3s ease-in-out;
}

.mobile img {
  height: 200px;
}

.mobile:hover {
  transform: scale(1.03) !important;
}

.mobile:hover button {
  background-color: #ff5722;
  border-color: #ff5722;
  color: #fff;
  /* box-shadow: 0.9px 0.9px 5px 1px #ff5722; */
}

.mobile p {
  font-weight: 600;
  margin-top: 10px;
}

.mobile button {
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #ddd;
  padding: 5px 20px;
  color: grey;
  transition: 0.3s;
  margin-top: 2px;
  font-size: 11px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-bottom: 5px;
}

.mobile button:hover {
  background-color: #ff3e04;
  border-color: #ff3e04;
  color: #fff;
}

.newsletter {
  text-align: center;
  background-image: url("/assets/images/newsletter.jpg");
  background-size: cover;
  background-position: center;
  padding: 50px 0px;
}

.newsletter h2 {
  color: #fff;
}
.newsletter input {
  padding: 5px 50px;
  border-radius: 20px;
  border: 1px solid #888;
  margin-top: 10px;
  outline: none;
}

.newsletter button {
  padding: 5px 20px;
  margin-top: 20px;
  border-radius: 20px;
  background-color: #ff5722;
  color: #fff;
  border: 2px solid #ff5722;
  text-transform: uppercase;
  transition: 0.3s;
}

.newsletter button:hover {
  transform: scale(1.1);
}

.brands-img img {
  height: 200px;
  width: auto;
}

.items_images img {
  height: 200px;
  width: 200px;
}

.iconss {
  margin-top: 50px;
  border: 1px solid #888;
}

.mobile-tab {
  background-color: #000;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  transition: 0.3s;
  margin-top: 30px;
  box-shadow: 0.9px 0.9px 5px 3px #888;
}

.mobile-tab i {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 60px;
  padding-top: 30px;
}

.tab-heading {
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  font-size: 25px;
  padding-bottom: 50px;
}

.mobile-tab:hover {
  background-color: #ff5722;
  transform: scale(1.1);
}

.mobile-tab_outer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.con {
  height: 3px;
  width: 15%;
  background-color: red;
  margin-bottom: 30px;
}

.contact {
  background-color: #000;
}

.contact h4 {
  color: #fff;
}

.contact i {
  color: #fff;
}

.address {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.address h6 {
  color: #fff;
}

.address p {
  color: #888;
}

.social-icons {
  display: flex;
  gap: 20px;
}

.fb-icons {
  height: 35px;
  width: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #222222;
  margin-top: 30px;
  transition: 0.2s;
  border-radius: 50%;
  box-shadow: 0.7px 0.5px 5px 3px #ff5722;
}

.fb-icons:hover {
  background-color: #ff5722;
  box-shadow: 0.7px 0.5px 5px 3px #fff;
}

.services {
  background-color: #222222;
}

.services h3 {
  color: #fff;
}

.cities ul li {
  margin: 8px 0px;
  list-style-type: none;
}

.cities ul li a {
  color: #888;
  transition: 0.2s;
}

.cities ul li a:hover {
  color: #ff5722;
  list-style-type: circle;
}

footer {
  background-color: #ff5722;
  padding: 10px;
  color: #fff;
  text-align: center;
}


 